<div class="container-fluid">
    <div class="h4 pb-2 mb-4 border-bottom border-secondary">
        Pessoas Cadastradas
    </div>

    <div class="row g-3">

        @if (pessoas.length > 0) {
        <div class="d-flex justify-content-start">
            <h6>Listagem:</h6>
        </div>
        <table class="table table table-hover table-sm text-start">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (pessoa of pessoas; track $index) {
                <tr>
                    <td>{{ pessoa.nome + ' ' + pessoa.sobrenome }}</td>

                    <td>
                        <span class="badge rounded-pill text-bg-success">Ativo</span>
                    </td>

                    <td>
                        <div class="btn-group">
                            <button type="button"
                                class="btn btn-outline-secondary btn-sm me-1 dropdown-toggle custom-dropdown-toggle animate__animated"
                                data-bs-toggle="dropdown" [ngbTooltip]="'Opções'">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="btn btn-sm dropdown-item">
                                        <i class="bi bi-search"></i>
                                        Visualizar
                                    </button>
                                </li>
                                <li>
                                    <button (click)="setarIdPessoa(pessoa.id!)" class="btn btn-sm dropdown-item"
                                        data-bs-toggle="modal" data-bs-target="#confirmarExclusaoModal">
                                        <i class="bi bi-trash"></i>
                                        Excluir
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        } @else {
        <app-img-vazio></app-img-vazio>
        }
        <!-- Modal -->
        <div class="modal fade modal-sm" id="confirmarExclusaoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-center">
                        <h6>Confirmar Exclusão</h6>
                    </div>
                    <div class="modal-body d-flex justify-content-around">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                        <button (click)="removerPessoa()" type="button" class="btn btn-danger btn-sm"
                            data-bs-dismiss="modal">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>