<router-outlet />

<div class="d-flex justify-content-center align-items-center mt-5">  <!-- Classe para total visualização vh-100 -->
  <div class="container text-center">
    <!-- <div class="row col-12">
      <h1 class="">Cadastro e Listagem de Pessoas</h1>
    </div> -->
    <div class="row col-12">
      <div class="col-6 shadow-sm p-3">
        <app-form (cadastrouPessoa)="receberEvento($event)"></app-form>
      </div>
      <div class="col-6 shadow-sm p-3">
        <app-list [eventoCadastro]="eventoRecebido"></app-list>
      </div>
    </div>
  </div>
</div>