<div class="container-fluid">
    <div class="h4 pb-2 mb-4 border-bottom border-secondary">
        Formulário de Cadastro
    </div>

    <form [formGroup]="form" class="row g-3">
        <div class="d-flex justify-content-start">
            <h6>Dados Pessoais:</h6>
        </div>
        <!-- NOME -->
        <div class="col-md-6">
            <input placeholder="Nome" formControlName="nome" type="text" class="form-control">
            @if (form.controls.nome.invalid && form.controls.nome.touched) {
            <app-msg-validation [campo]="'Nome'"></app-msg-validation>
            }
        </div>
        <!-- SOBRENOME -->
        <div class="col-md-6">
            <input placeholder="Sobrenome" formControlName="sobrenome" type="text" class="form-control">
            @if (form.controls.sobrenome.invalid && form.controls.sobrenome.touched) {
            <app-msg-validation [campo]="'Sobrenome'"></app-msg-validation>
            }
        </div>
        <!-- E-MAIL -->
        <div class="col-md-6">
            <input placeholder="E-mail" formControlName="email" type="text" class="form-control">
            @if (form.controls.email.invalid && form.controls.email.touched) {
            <app-msg-validation [campo]="'E-mail'"></app-msg-validation>
            }
        </div>
        <!-- GÊNERO -->
        <div class="col-md-6">
            <select class="form-select" formControlName="genero">
                <option selected disabled value="">Gênero</option>
                <option value="masculino"> Masculino </option>
                <option value="feminino"> Feminino </option>
                <option value="nao-binario"> Não Binário </option>
                <option value="outro"> Outro </option>
            </select>
            @if (form.controls.genero.invalid && form.controls.genero.touched) {
            <app-msg-validation [campo]="'Gênero'"></app-msg-validation>
            }
        </div>

        <div class="d-flex justify-content-start">
            <h6>Endereço:</h6>
        </div>
        <!-- CEP -->
        <div class="col-md-4">
            <div class="input-group mb-3">
                <input appApenasNumeros (keydown)="onKeyDown($event)" placeholder="CEP" formControlName="cep"
                    type="text" class="form-control">
                <button (click)="buscarCep()" class="btn btn-outline-primary " type="button" id="button-addon2">
                    <!-- Ícone de lupa (Bootstrap Icons) -->
                    <i class="bi bi-search" data-bs-toggle="tooltip" [ngbTooltip]="'Pesquisar'"></i>
                </button>
            </div>
            @if (form.controls.cep.invalid && form.controls.cep.touched) {
            <app-msg-validation [campo]="'CEP'"></app-msg-validation>
            }
        </div>
        <!-- LOGRADOURO -->
        <div class="col-md-8">
            <input placeholder="Rua/Avenida" type="text" class="form-control" formControlName="logradouro">
            @if (form.controls.logradouro.invalid && form.controls.logradouro.touched) {
            <app-msg-validation [campo]="'Rua/Avenida'"></app-msg-validation>
            }
        </div>
        <!-- BAIRRO -->
        <div class="col-md-6">
            <input placeholder="Bairro" type="text" class="form-control" formControlName="bairro">
            @if (form.controls.bairro.invalid && form.controls.bairro.touched) {
            <app-msg-validation [campo]="'Bairro'"></app-msg-validation>
            }
        </div>
        <!-- CIDADE -->
        <div class="col-md-6">
            <input placeholder="Cidade" type="text" class="form-control" formControlName="cidade">
            @if (form.controls.cidade.invalid && form.controls.cidade.touched) {
            <app-msg-validation [campo]="'Cidade'"></app-msg-validation>
            }
        </div>
        <!-- COMPLEMENTO -->
        <div class="col-md-6">
            <input placeholder="Complemento (Opcional)" type="text" class="form-control" formControlName="complemento">
        </div>
        <!-- NÚMERO -->
        <div class="col-md-3">
            <input placeholder="Nº" type="text" class="form-control" formControlName="numero">
            @if (form.controls.numero.invalid && form.controls.numero.touched) {
            <app-msg-validation [campo]="'Número'"></app-msg-validation>
            }
        </div>
        <!-- UF -->
        <div class="col-md-3">
            <select class="form-select" formControlName="uf">
                <option selected disabled value="">UF</option>
                @for (estado of estados$ | async; track $index) {
                <option> {{ estado.sigla }} </option>
                }
            </select>
            @if (form.controls.uf.invalid && form.controls.uf.touched) {
            <app-msg-validation [campo]="'Estado'"></app-msg-validation>
            }
        </div>

        <div class="col-12">
            <button (click)="validarCampos()" class="btn btn-primary w-100" type="submit">Cadastrar</button>
        </div>
    </form>
</div>